/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4{
  font-family: sans-serif;
/*  margin-top: 6px;
  margin-left: 6px;*/
}

a{
  text-decoration: none;
  color: lightblue;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
  color: red;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li .inizio{
  display: inline-block;
  margin-right: 3%;
  position: absolute;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 4px;
  background-color: #546b83;
  color: #546b83;
}

/* pagina */


/*header*


/*
nav{
  width: 60%;
  margin: 10px auto;
  height: 400px;
}
*/
.movibile{
  position: relative;
  min-height: 60px;
  width: auto;
  background-color: #f4f9fd;
  margin-top: 4px;
  margin-left:4px;
  color: #33475b;
}

.navtotal{
  position: absolute;
  width: 65%;
  top: 50%
  margin: auto;
  transform: translate(-50%);
}

.navleft{
  float: left;
  padding: 8px 0px;
  color: #00a4bf;
  width: calc(100% / 2);
}

.navright{
  float: right;
  position: absolute;
  text-align: right;
  color: #00a4bf;
  width: calc(100% / 2);
  margin-left: 90px;
}

/*dropdown regole nav lingue*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
/*fine dropdown regole nav lingue*/

/*questa barra dovra rimare fissa*/
.fisso{
  min-height: 60px;
  width: auto;
  background-color: green;
  position: relative;
  display: inline-block;
  margin-top: 4px;
  margin-left: 4px;
}
/*fine*/

/*sezione jumbotron*/
.jumbotron{
  height: 695px;
  background-image: url("../img/jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*.jumbotron-container {
  position: relative;
  width: 60%;
  margin: 10px auto;
  height: 400px;
  background-color: red;
}*/

.jumbotron-text{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate( -50%, -50% );
  height: 400px;
  width: 60%;
}

.rettangolo-arancio{
  height: 50px;
  width: 150px;
  background-color: orange;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*fine sezione jumbotron*/

/*main*/
main{
  height: 3000px;
  background-color: pink;
}

  /*section prima*/
  /*class cubo*/
  .prima{
    height: 1000px;
    background-color: red;
  }

  .cubo{
    width:auto;
    text-align:center;
    padding:20px;
  }

  #id{
    max-width:100%;
    height:auto;
  }
  /*fine class cubo*/
  /*class orizontal*/
  .orizontal{
    background-color: khaki;
    height: 300px;
  }
  /*fine class orizontal*/
  /*class vertical*/
  .orizontal{
    background-color: coral;
    height: 300px;
  }
  /*fine class vertical*/


  /*fine section prima*/
  .seconda{
    background-color: orange;
    height: 1000px;
  }

  .terza{
    background-color: green;
    height: 1000px;
  }

/* footer */
footer {
  /* debug */
  height: 400px;
  background-color: #2d3e50;
  /* fine debug */
}

section{
  width: 60%;
  margin: 10px auto;
  height: 400px;
}

.contenitore-footer{
  width: 100%;
  /*margin: 10px auto;*/
  height: 400px;
  background-color: #2d3e50;
}

/* inizio elenco dei links nel footer*/
.contenitore-link{
  width: 100%;
  height: 200px;
  background-color: #2d3e50;
  margin:auto;
  display: inline-block;
  clear: both;
  position: relative;
}

.ft1{
  float: left;
  display: block;
  height: auto;
  width: auto;
  background-color: #2d3e50;
  margin-left: 0px;
}

.ft2{
  float: left;
  display: block;
  height: auto;
  width: auto;
  margin-left: 10px;
  /*margin-left: 2px;
  margin-right: 2px;*/
}

.ft3{
  float: left;
  display: block;
  height: auto;
  width: auto;
  margin-left: 10px;
}

.ft4{
  float: left;
  display: block;
  height: auto;
  width: auto;
  margin-left: 20px;
}

.rettangolo-grigio{
  height: 50px;
  width: 100px;
  background-color: grey;
  text-align: center;
  padding: 10px;
}

#id{
  color: #ffffff;
}

/* fine elenco dei links nel footer*/

/*elenco lingue*/
.contenitore-tf{
  text-align: center;
}

/*CopyRight*/

.sx{
  float: left;
  padding: 8px 0px;
  width: calc(100% / 2);
  background-color: #2d3e50;
}

.fofi{
  color: #ffffff;
}

.dx {
  float: left;
  width: calc(100% / 2);
  text-align: right;
  background-color: #2d3e50;
}
